// Background colors
$light: #FFFFFF;
$red_bg: #EF2853;
$aqua_bg: #C0E1CF;
$lighter_aqua: #D8F0E3;
$pink_bg: #F3D0C7;
$working_bg: #FAF7F1;

// Text colors
$dark: #000000;
$lightgray: #A6A6A6;
$gray: #878787;
$lightbulb: #BADAC9;
$chat_bubble: #F8D12D;
$cloud: #80465F;
$pencil: #EB6950;

// Borders colors
$pink: #E1C0B0;